.App {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 40px;
  background-color:antiquewhite;
}

h1 {
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 40px;
}

.Scores {
  margin-top: 20px;
}

.playerScore {
  font-size: 24px;
  margin-bottom: 10px;
}

.playerScore.active {
  font-weight: bold;
  color: #544caf;
}

.gameOver{
  color:red;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttomHalf {
  margin-top: 40px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #544caf;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 25px;
}

.lastRoll,
.turnTotal {
  font-size: 25px;
  margin-top: 10px;
}
